/*
 * 自适应
 */

.formCenter {
	/*margin-left: 30%;
	margin-right: 30%;
	width: 40%;*/
}

.bigHeadImage {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	border-style: solid;
	border-color: #2FA0EC;
	border-width: 3px;
}

.icon {
	background-image: url(../../../img/common/icons.png);
	display: inline-block;
}

.male {
	background-position: -212px -472px;
	width: 21px;
	height: 18px;
	margin-top: 20px;
}

.female {
	background-position: -211px -404px;
	width: 21px;
	height: 18px;
	margin-top: 20px;
}

.secret {
	background-position: -212px -922px;
	width: 21px;
	height: 18px;
	margin-top: 20px;
}

.n-message-icon {
	background-position: -21px -339px;
}

.n-submission-icon {
	background-position: -21px -403px;
}

.n-follow-icon {
	background-position: -21px -533px;
}

.n-collect-icon {
	background-position: -21px -469px;
}

.n-icon {
	background-image: url(../../../img/common/icons.png);
	display: inline-block;
	width: 20px;
	height: 20px;
}